@model IEnumerable<Storm.InterviewTest.Hearthstone.Core.Features.Cards.Models.CardModel>
@{
    ViewBag.Title = "Home Page";
}

<div class="page-header">
    <h2>Cards (Total: @Model.Count())</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="row" style="margin-bottom: 10px">
            <div class="col-md-12">
                <form class="form-inline" method="GET">
                    <input class="form-control" type="search" name="q" id="q" value="" placeholder="search for cards..." />
                    <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>    
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="list-inline">
                    @foreach (var card in Model)
                    {
                        <li class="list-group-item">
                            @{ Html.RenderPartial("_card", card); }
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>